<section ng-repeat="cart in cartCtrl.cart | orderBy: 'category'" class="">
  <div>
    {{cart}}
    <button ng-click="cartCtrl.removeFromCart(cart)">Remove</button>
  </div>
</section>

<div>
  {{cartCtrl.cart}}
</div>

<section ng-controller="DiscountController as discountCtrl">
  <div>
    <input type="text" ng-model="code" required>
    <button ng-click="discountCtrl.checkDiscount(code, cartCtrl.cart)">Apply Discount</button>
  </div>
  {{discountCtrl.discounts}}

  <div ng-show="discountCtrl.codeError">
    {{discountCtrl.codeMessage}}
  </div>
</section>
